include CHANGES.rst
include LICENSE
include MANIFEST.in
include README.rst
include drawa/app/default.conf
include drawa/app/aria2.conf
include drawa/app/aria2service.conf

recursive-include systemd/ *

recursive-include drawa/app/ext *
recursive-include drawa/app/www *

# recursive-include tests *.py
