include CHANGES.rst
include LICENSE
include MANIFEST.in
include README.rst
include drawa/default.conf
include drawa/aria2.conf
include drawa/app/default2service.conf

recursive-include systemd/ *

recursive-include drawa/app/ext *
recursive-include drawa/app/www *

# recursive-include tests *.py
