<div class="fixed-action-btn">
        <a class="btn-floating btn-large red waves-effect waves-light">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
    
            <li tooltipped data-position="bottom" data-delay="50" data-tooltip="Clear download results">
                <a ng-click="purgeResultsAll()" class="btn-floating yellow darken-1 waves-effect waves-light ">
                    <i class="material-icons">clear_all</i>
                </a>
            </li>
            <li tooltipped data-position="bottom" data-delay="50" data-tooltip="Unpause all">
                <a ng-click="unpauseAll()" class="btn-floating green waves-effect waves-light ">
                    <i class="material-icons">play_arrow</i>
                </a>
            </li>
            <li tooltipped data-position="bottom" data-delay="50" data-tooltip="Pause all">
                <a ng-click="pauseAll()" class="btn-floating blue waves-effect waves-light ">
                    <i class="material-icons">pause</i>
                </a>
            </li>
            <li tooltipped data-position="bottom" data-delay="50" data-tooltip="Add URL">
                <a href="#!add" class="btn-floating waves-effect waves-light red waves-effect waves-light ">
                    <i class="material-icons">add</i>
                </a>
            </li>
        </ul>
    </div>