<div ng-controller="QueueController">
  <div class="queue-item" ng-repeat="item in queue | orderBy: 'item.gid' track by item.gid" ng-show="getDownloadName(item).length > 0">
    <div class="row">
      <div class="col s12">
        {{ getDownloadName(item) }}
        <div class="btn-wrapper right">
          <a class='dropdown-button' href='javascript:void(0);' data-activates='{{"menugid_" + item.gid}}' dropdown data-hover="true">
              <span class="material-icons right">more_vert</span>
          </a>
          <!-- Dropdown Structure -->
          <ul id='{{"menugid_" + item.gid}}' class='dropdown-content right' style="right:0">
              <li><a ng-href="#!details/{{item.gid}}">Details</a></li>
              <li class="divider"></li>
              <li ng-show="item.status == 'active'"><a class="nohref" ng-click="pauseGid(item.gid)">Pause</a></li>
              <li ng-show="item.status == 'paused'"><a class="nohref" ng-click="unpauseGid(item.gid)">Unpause</a></li>
              <li ng-show="item.status == 'paused'"><a class="nohref" ng-click="removeGid(item.gid)">Remove</a></li>
              <li ng-show="item.status == 'complete' || item.status=='error'"><a class="nohref" ng-click="purgeResultsGid(item.gid)">Remove</a></li>
          </ul>
        </div>
      </div>
      <div class="col s12">
        <div class="progress">
          <div class="determinate" style="width: {{ (item.completedLength / item.totalLength)*100 }}%"></div>
        </div>
      </div>
      <div class="col s12">
        <span class="info-badge" data-badge-caption="">{{ item.status | uppercase }}</span>
        <span class="right">
            <span class="info-badge" data-badge-caption="">Download speed: {{ formatBytes(item.downloadSpeed) }}</span>
             <span class="info-badge" data-badge-caption="">Upload speed: {{ formatBytes(item.uploadSpeed) }} </span>
        </span>
        
      </div>
    </div>
  </div>
</div>
<div ng-include="'pages/actions.html'"></div>